@import "tailwindcss";

@theme {
  --color-wassel-blue: #002B49;
  --color-wassel-yellow: #FFCD00;
  --color-wassel-darkBlue: #001A2F;
  --color-wassel-lightYellow: #FFD733;
  --color-corp-primary: #3D3D3D;
  --color-corp-secondary: #FFCD00;
  --color-corp-dark: #262626;
  --font-sans: "IBM Plex Sans Arabic", "IBM Plex Sans", system-ui, sans-serif;
  --font-arabic: "IBM Plex Sans Arabic", sans-serif;
}
